.bg {
    background: linear-gradient(45deg, #141e30, #243b55);
    width: 100%;
    height: 100%;
}

.outer-container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, #141e30, #243b55);
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.center {
    margin: auto;
    top: 50%;
    left: 50%;
    padding: 10px;
}

.LogoText {
    font-size: 1.5em;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}

img {
    height: 150px;
    width: 150px;
}

.slogan {
    width: fit-content;
    text-align: center;
    color: #fff;
    font-size: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
    animation: typewriter 1s steps(44) 1s 1 normal both,
        blinkTextCursor 600ms steps(44) infinite normal;
}
@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 200px;
    }
}
@keyframes blinkTextCursor {
    from {
        border-right: 0.1em solid #e4ffe8;
    }
    to {
        border-right: 0.1em solid transparent;
    }
}
