.bg {
    background: linear-gradient(45deg, #141e30, #243b55);
    width: 100%;
    height: 100%;
}

.outer-container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, #141e30, #243b55);
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.center {
    margin: auto;
    top: 50%;
    left: 50%;
    padding: 10px;
}

.LogoText {
    font-size: 2em;
}

.Logo {
    width: 30px;
    height: 30px;
}
